//Colors
$white:#FFFFFF;
$do-gooder-grey:#363030;
$precious_teal:#005555;
$precious_teal-hover:#004444;
$bright-teal:#005555;
$dark-teal:#003333;
$light-teal:#6DACAC;
$very-light-teal:#A8FFF7;
$burnt-orange:#D45241;
$grey-bg:#F3EEED;
$medium-grey-bg:#E1D7D6;
$dark-grey-bg:#DCCCC9;
$light-pink:#F8DFDC;
$form-error-border:#F99190;
$form-error-background:#FFF1EE;
$very-dark-teal:#001D1D;
$light-black-bg:#2E2E2E;
$green-std:#2EBE72;
$error-red:#E50000;

//Greys
$grey-light-border:#EDEDED;
$grey-border:#C3C3C3;
$grey-border-on-black:#979797;

//Text Colors
$text-light-pink:#F5D1CC;
$text-black:#666;
$text-dark-black:#333;
$text-light-black:#888;
$text-grey:#ADADAD;
$grey:#ADADAD;

//Font Stacks
$header-font-family:'News Gothic BT', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
$standout-font-family:'Cooper Black W01', Georgia, serif;

//Extra
$static-path:"/static/";

//Font Sizes
$font-size-h1:36px;
$font-size-h1-sm:32px;
$font-size-h2:28px;
$font-size-h2-sm:21px;
$font-size-h3:18px;
$font-size-h3-sm:16px;
$font-size-base:14px;
$font-size-sm:12px;



// temp from BOOTSTRAP

//TEMP
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$grid-gutter-width:         30px !default;
