@import 'variables';
//@import 'fonts';
@import 'mixins';

/* * * *
* BASE
*/

body {
  font-family:$base-font-family;
  font-size:$font-size-base;
  margin:0px;
  background-color:$white;
}
h1 {
  font-family:$header-font-family;
  font-size:$font-size-h1-sm;
  line-height:1.44;
  font-weight:400;
}
h2 {
  font-family:$header-font-family;
  font-size:$font-size-h2;
  line-height:1.2;
  font-weight:700;
}
h3 {
  font-size:$font-size-h3;
  line-height:1.2;
  font-weight:700;
}
.small-text {
  font-size:$font-size-sm;
}
a {
  color:$precious_teal;
  text-decoration:none;
  border-bottom:1px solid $precious_teal;
  &:hover, &:focus, &:active {
    color:$precious_teal-hover;
    text-decoration:none;
  }
}
input {
  padding:7px 12px 8px;
  line-height:1.2;
  margin:0 5px 5px 0;
  font-size:14px;
}
.btn {
  @include a-reset;
  display:inline-block;
  background-color:$precious-teal;
  border-radius:4px;
  padding:7px 12px 8px;
  line-height:1.5;
  margin:0 5px 5px 0;
  font-size:14px;
  color:$white;
  border:none;
  cursor:pointer;
  &:hover, &:focus, &:active {
    color:$white;
    background-color:$precious_teal-hover;
  }
}
.btn.inactive {
  background-color: #DDDDDD;
  color: #FFFFFF;
  &:hover, &:focus, &:active {
    background-color: #DDDDDD;
    color: #FFFFFF;
    cursor: default;
  }
}
.small-btn {
  @extend .btn;
  font-size:$font-size-sm;
  padding:3px 10px 5px;
}
.large-btn {
  @extend .btn;
  font-size:$font-size-h2;
  padding:5px 20px 7px;
}
.btn-minor {
  @extend .btn;
  font-weight:bold;
  background-color:$white;
  color:$text-dark-black;
  border:3px solid $precious_teal;
  font-size:$font-size-base;
}
.btn-square {
  color:$white;
  padding:5px 10px;
  border:1px solid hex-to-rgba($white ,0.7);
  border-radius:4px;
}
.primary-action {
  @include a-reset;
  display:inline-block;
  background-color:$precious_teal;
  color:$white;
  border-radius:5px;
  padding:6px 20px 7px;
  line-height:1.5;
  margin:0 5px 5px 0;
  font-size:$font-size-h3;
  &:hover, &:focus, &:active {
    color:$white;
    background-color:$precious_teal-hover;
  }
}
input.primary-action,
button.primary-action {
  border:none;
}
ul, ol {
    list-style-position:inside;
    @include ul-reset;
}
.icon {
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align:middle;
  background-size:100% 100%;
  background-position:center center;
  background-repeat:no-repeat;
}


/* * * *
* NAV
*/

.header {
  color:$white;
  padding:30px 30px;
  position:relative;
  z-index:3;
  display:table;
  &__logo {
    @include a-reset;
    display:table-cell;
    vertical-align:middle;
    padding-right:10px;
    height:50px;
    img {
      height:50px;
    }
  }
  &__logo-title {
    display:table-cell;
    vertical-align:middle;
    a {
      margin-top:-3px;
      @include a-reset;
      display:inline-block;
      color:$light-teal;
      position:relative;
      margin-left:5px;
      font-size:24px;
      &:hover, &:active, &:focus {
        color:$white;
      }
    }
  }
  &__nav {
    display:table-cell;
    vertical-align:middle;
    width:100%;
    padding-left:0px;
  }
  &__main-nav {
    @include ul-reset;
    float:left;
    font-size:15px;
    margin-bottom:0;
    margin-top:0;
    li {
      display:inline-block;
      margin-right:10px;
    }
    a {
      @include white-transparent-button
/*
      @include a-reset;
      color:$white;
      padding:10px 15px 11px;
      border-radius:4px;
      //background-color:hex-to-rgba($dark_teal, 0.3);
      background-color:$dark-teal;
      &.active {
        background-color:$bright-teal;
      }
      &:hover, &:active, &:focus {
        background-color:$bright-teal;
      }*/
    }
  }
  &__right-nav {
    float:right;
    margin:-9px 0;
  }
  &__login {
    display:inline-block;
    vertical-align:middle;
    @include white-transparent-button

/*


 //   color:$white;
 //   @include a-reset;
    position:relative;
    top:1px;
    padding:7px 12px 8px;
//    border-radius:4px;
    margin-left:5px;
    font-size:18px;
//    background-color:$dark-teal;
//    &:hover, &:active, &:focus {
//      background-color:hex-to-rgba($bright_teal, 0.6);
//      color:$white;
//    }*/
  }
  &__account {
    display:inline-block;
    vertical-align:middle;
    @include white-transparent-button

/*    font-size:14px;
    color:$white;
    @include a-reset;
    position:relative;
    top:1px;
    padding:7px 12px 8px;
    border-radius:4px;
    margin-left:5px;
    background-color:$dark-teal;
    &:hover, &:active, &:focus {
      background-color:hex-to-rgba($bright_teal, 0.6);
      color:$white;
    }*/
  }
}

/* * * *
* promo block
*/

.promo {
    height:670px;
    position:relative;
    display:table;
    width:100%;
    margin-top:-113px;
    &__bg {
        @include overlay;
        background-size:cover;
        background-position:50% 50%;
        &:after {
            @include overlay;
            z-index:1;
            background-color:hex-to-rgba(#000, 0.4);
        }
    }
    &__bg-image {
        width:100%;
        height:100%;
        background-size:cover;
        background-position:50% 50%;
    }
    &__promo {
        height:100%;
        width:100%;
        position:relative;
        z-index:2;
        display:table-cell;
        vertical-align:middle;
        padding:50px 0;
        .promo__subtitle {
            color:$white;
            font-size:18px;
            font-weight:300;
        }
        .container {
          float:right;
          margin:-9px 0;
          padding-right:300px;
        }
        h1 {
            color:$white;
            font-size:48px;
            line-height:1.2;
            font-weight:300;
            margin-top:10px;
        }
    }
    &__action-buttons {
        margin-top:30px;
        font-weight:300;
        .btn-square {
            font-size:16px;
            margin-left:10px;
            padding:7px 12px;
        }
        .primary-action {
          font-size:24px;
          padding:12px 17px 13px;
        }
        .btn-square,
        .primary-action {
            &:hover, &:focus, &:active {
                background-color:$white;
                color:$text-dark-black;
            }
        }
    }
}

.promo-small {
  @extend .promo;
  height:300px;
  margin-top:0px;
}
.promo-small-header {
  @extend .promo;
  height:113px;
}

/* * * *
* Features
*/
$col-padding:65px;
.steps {
  margin-top:50px;
  margin-bottom:50px;
  h2 {
    text-align:center;
    margin:0 0 50px;
  }
  &__row {
    margin:0 ($col-padding);
    display:table;
  }
  &__feature {
    display:table-cell;
    width:(100%/3);
    vertical-align:top;
    padding:0 $col-padding;
    text-align:center;
  }
  &__image {
    width:100%;
    max-width:95px;
    margin:0 auto 20px;
  }
  &__title {
    font-size:22px;
    font-weight:normal;
    margin-bottom:22px;
  }
  &__text {
    font-size:16px;
  }
}

/* * * *
* Screenshots
*/
.pictures {
  margin-top:50px;
  margin-bottom:50px;
  h2 {
    text-align:center;
    margin:100px 0px 50px;
  }
  &__row {
    margin:0 auto;
    display:table;
    margin-bottom:50px;
  }
  &__feature {
    display:table-cell;
    width:(100%/2);
    vertical-align:top;
    padding:0 $col-padding;
    text-align:center;
  }
  &__feature-single {
    width:100%;
    vertical-align:top;
    text-align:center;
    padding:0 $col-padding;
    display:table-cell;
  }
  &__image {
    width:100%;
    max-width:600px;
    margin:0 auto 10px;
  }
  &__image-single {
    width:100%;
    max-width:1200px;
    margin:0 auto 10px;
  }
  &__title {
    font-size:18px;
    font-weight:normal;
  }
}


/* * * *
* About
*/
$card-padding:250px;
$card-inner-padding:30px;
.about {
  margin-top:50px;
  margin-bottom:50px;
  h2 {
    text-align:center;
    margin:100px 0px 50px;
  }
  &__card {
    margin:0 ($card-padding);
    display:table;
  }
  &__picture {
    width:200px;
    display: table-cell;
    vertical-align:middle;
    padding:0 $card-inner-padding;
  }
  &__image {
    max-width:200px;
    border-radius:50%;
    margin:0 auto 20px;
  }
  &__story {
    width:100%;
    display:table-cell;
    vertical-align:middle;
    padding:0 $card-inner-padding;
    h2 {
      text-align:left;
      margin-bottom:10px;
    }
    p {
      font-size:16px;
      font-weight:normal;
      font-style:italic;
    }
  }
}

/* * * *
* Contribute and subscribe
*/
$small-col-padding:100px;
.actions {
  margin-top:50px;
  margin-bottom:50px;
  h2 {
    text-align:center;
    margin:100px 0px 50px;
  }
  &__row {
    margin:0 auto;//($small-col-padding+100);
    display:table;
  }
  &__feature {
    display:table-cell;
    width:(100%/2);
    vertical-align:top;
    padding:0 $small-col-padding;
    text-align:center;
  }
  &__image {
    width:100%;
    max-width:128px;
    margin:0 auto 20px;
  }
  &__title {
    font-size:22px;
    font-weight:normal;
    margin:0 auto 10px;
    //margin-bottom:10px;
    //margin-top:0px;
    width:300px;
  }
  &__text {
    font-size:16px;
    width:300px;
  }
}

/* * * *
* FOOTER
*/
.footer {
  background-color:$very-dark-teal;
  padding:20px 0 15px;
  text-align:center;
  .footer__copyright {
    color:$text-grey;
    display:inline-block;
    margin-right:15px;
  }
  .footer__nav {
    @include ul-reset;
    display:inline-block;
    li {
      display:inline-block;
      margin:0 10px;
    }
    a {
      @include a-reset;
      color:$text-grey;
      &:hover, &:focus {
        color:$white;
      }
    }
  }
  .footer__bottom-bar {
    display:inline-block;
    margin-left:80px;
    span {
        color:$white;
    }
    .footer__author {
      @include a-reset;
      color:$grey;
      &:hover, &:focus {
        color:$white;
      }
    }
  }
}

/* * * *
* ACCOUNTS
*/
.accounts {
  margin-top:50px;
  margin-bottom:50px;
  h2 {
    text-align:center;
    margin:100px 0px 50px;
  }
  &__container {
    margin:0 auto;
    display:table;
    width:150px;
  }
  &__container-wide {
    @extend .accounts__container;
    width:350px;
  }
  &__recover-link {
    padding-top:0px;
    text-align:right;
    padding-right:5px;
  }
  h2 {
    text-align:left;
    margin-bottom:10px;
  }
  p {
    font-size:16px;
    font-weight:normal;
  }
  &__button {
    margin:0 auto;
    display:table;
    margin-top:20px;
  }
  &__title {
    margin:0 auto;
    display:table;
    text-align:center;
    padding:0px;
  }
  .errorlist {
    color:$error-red;
    font-size:12px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:0px;
    margin:0px;
  }
}

/* * * *
* STATS
*/
.stats {
  margin-top:20px;
  margin-bottom:20px;
  width:100%;
  h2 {
    text-align:center;
    margin:100px 0px 50px;
  }
  &__title {
    font-size:18px;
    padding-left:0px;
    margin-bottom:10px;
  }
  &__filters {
    font-size:18px;
    padding-left:0px;
    margin-top:0px;
    margin-bottom:20px;
    display:table;
    width:700px;
    &-tags {
      width:250px;
    }
    &-main-tag {
      width:100px;
    }
  }
  &__container {
    //margin:0 ($card-padding);
    width:960px;
    margin:0 auto;
    display:block;
  }
  h1 small {color: $grey;}
  h1 label {color: $light-teal;}
  h2 {
    text-align:left;
    margin-bottom:10px;
  }
  p {
    font-size:16px;
    font-weight:normal;
  }
  &__chart {
    width:960px;
    height:450px;
    margin:0px;
    display:inline-block;
  }
  &__grid {
    margin:0 auto;
    display:table;
  }
  &__grid-row {
    margin:40px auto;
    display:table;
  }
  &__grid-item {
    display:table-cell;
    width:160px;
    vertical-align:top;
    padding:0 40px;
    text-align:center;
    h1 {
      width:100%;
      font-size:36px;
      margin:0px;
    }
    small {
      font-size:14px;
      color:$text-grey;
    }
  }
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


// MISC

.anchor {
  position:relative;
  top:-10px;
  display:block;
}