{% load staticfiles %}
<span id="steps" class="anchor"></span>
<div class="container steps">
  {% spaceless %}
  <div class="steps__row">

    <div class="steps__feature">
      <div class="steps__top">
        <img class="steps__image" src="{% static 'img/circle_icon.png' %}" alt="Precious app" />
        <h3 class="steps__title">1. Log hours & days</h3>
      </div>
      <p class="steps__text">Choose how productive the hour is and #tag projects. At the end of the day &mdash; reflect on your day.</p>
    </div>

    <div class="steps__feature">
      <div class="steps__top">
        <img class="steps__image" src="{% static 'img/stats_icon.png' %}" alt="Precious web" />
        <h3 class="steps__title">2. Check your stats</h3>
      </div>
      <p class="steps__text">Sync your logged hours and days from mac to web and you can see your stats for different months, weeks and tags.</p>
    </div>

    <div class="steps__feature">
      <div class="steps__top">
        <img class="steps__image" src="{% static 'img/success_icon.png' %}" alt="Much productive, very success." />
        <h3 class="steps__title">3. Reach your goals</h3>
      </div>
      <p class="steps__text">Every hour of your life counts. When you look back at how many hours were actually spend on work &mdash; you learn from that very soon and improve.</p>
    </div>

  </div>
  {% endspaceless %}
</div>
