{% load static %}
<span id="top" class="anchor"></span>
<div class="promo">
  <div class="promo__bg" style="background-image:url('{% static 'img/tranquil.jpg' %}');" ></div>

  <div class="promo__promo">
    <div class="container">
      <h1>Value your time.</h1>
        <p class="promo__action-buttons">
          <a href="{% url 'download' %}" class="primary-action">Download Precious.app for Mac</a>
          <a href="{% url 'default' %}#steps" class="btn-square">Learn more</a>
        </p>
    </div>
  </div>
</div>
