{% extends 'base.html' %}
{% load staticfiles main_tags %}
{% block title %}Accounts{% endblock %}
{% block body_id %}accounts{% endblock %}

{% block nav %}
    {% include 'includes/_nav.html' %}

    {% if request.user %}
    <div class="header__right-nav">
        <a class="header__account" href="{% url 'logout' %}" id="l-log-in">Logout</a>
        <a class="header__account" href="{% url 'password_change' %}" id="l-log-in">Change password</a>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'includes/_background.html' %}
    {% block accounts %}{% endblock %}
{% endblock content %}
