{% extends 'auth/base.html' %}
{% load staticfiles widget_tweaks %}


{% block accounts %}

    <div class="accounts">
        <div class="accounts__container">

            <div class="accounts__title"><h1>Change password</h1></div>
            {# CHANGE PASSWORD FORM #}
            <form action="{% url 'django.contrib.auth.views.password_change' %}" method="post" id="password-change-form">
            {% csrf_token %}

            <div class="form-group">
{#            <label class="sr-only" for="old_password">Old password</label>#}
            {{ form.old_password|add_class:"form-control"|add_error_class:"error"|attr:"placeholder:old password"|attr:"required:true"|attr:"type:password" }}
            {{ form.old_password.errors }}
            </div>
            <div class="form-group">
{#            <label class="sr-only" for="new_password1">New password</label>#}
            {{ form.new_password1|add_class:"form-control"|add_error_class:"error"|attr:"placeholder:new password"|attr:"required:true"|attr:"type:password" }}
            {{ form.new_password1.errors }}
            </div>
            <div class="form-group">
{#            <label class="sr-only" for="new_password2">New password (again)</label>#}
            {{ form.new_password2|add_class:"form-control"|add_error_class:"error"|attr:"placeholder:new password (again)"|attr:"required:true"|attr:"type:password" }}
            {{ form.new_password2.errors }}
            </div>

            <input type="hidden" name="next" value="/accounts/password-change/done/">
            <div class="accounts__button"><input type="submit" class="btn" value="Change password"></div>
            </form>

        </div>
    </div>
    
{% endblock %}
