{% extends 'auth/base.html' %}
{% load staticfiles widget_tweaks %}


{% block accounts %}

    <div class="accounts">
        <div class="accounts__container-wide">

            <div class="accounts__title"><h1>Forgot password?</h1></div>

            {# RESET PASSWORD FORM #}
            <form action="{% url 'django.contrib.auth.views.password_reset' %}" method="post" id="password-reset-form">
            {% csrf_token %}

            <div class="form-group">
{#            <label class="sr-only" for="email">Enter your e-mail</label>#}
            {{ form.email|add_class:"form-control"|add_error_class:"error"|attr:"placeholder:your e-mail"|attr:"required:true" }}
            <input type="submit" class="btn" value="Reset password">
            {{ form.email.errors }}
            </div>

            <input type="hidden" name="next" value="/accounts/password-reset/done">

            </form>

        </div>
    </div>

{% endblock %}
