{% extends 'auth/base.html' %}
{% load staticfiles widget_tweaks %}


{% block accounts %}

    <div class="accounts">
        <div class="accounts__container">
            <div class="accounts__title"><h1>Change password</h1></div>

            {# CHANGE PASSWORD FORM (RESET) #}
            <form action method="post" id="password-reset-confirm">
            {% csrf_token %}

            <div class="form-group">
{#            <label class="sr-only" for="new_password1">New password</label>#}
            {{ form.new_password1|add_class:"form-control"|add_error_class:"error"|attr:"placeholder:new password"|attr:"required:true"|attr:"type:password" }}
            {{ form.new_password1.errors }}
            </div>
            <div class="form-group">
{#            <label class="sr-only" for="new_password2">New password (again)</label>#}
            {{ form.new_password2|add_class:"form-control"|add_error_class:"error"|attr:"placeholder:new password (again)"|attr:"required:true"|attr:"type:password" }}
            {{ form.new_password2.errors }}
            </div>

            <input type="hidden" name="next" value="/accounts/reset/done/">
            <div class="accounts__button"><input type="submit" class="btn" value="Change password"></div>
            </form>
        </div>
    </div>
    
{% endblock %}
