{% load static %}
<div class="promo-small-header">
  <div class="promo__bg" style="background-image:url('{% static 'img/tranquil_small.jpg' %}');" ></div>

{#  <div class="promo__promo">#}
{#    <div class="container">#}
{#        <p class="promo__action-buttons">#}
{#          <a href="{% url 'download' %}" class="primary-action">Download Precious.app for Mac OS X</a>#}
{#          <a href="{% url 'login' %}" class="btn-square">Login to precious.web</a>#}
{#        </p>#}
{#    </div>#}
{#  </div>#}
</div>
