            <div class="stats__grid">

              <div class="stats__grid-row">
                <div class="stats__grid-item">
                  <h1>{{ logged_hours }}</h1>
                  <small>hours logged</small>
                </div>
                <div class="stats__grid-item">
                  <h1>{{ total_hours }}</h1>
                  <small>hours passed</small>
                </div>
                <div class="stats__grid-item">
                  <h1>{{ efficiency }}</h1>
                  <small>efficiency</small>
                </div>
              </div>

              <div class="stats__grid-row">
                <div class="stats__grid-item">
                  <h1>{{ good_hours }}</h1>
                  <small>good hours</small>
                </div>
                <div class="stats__grid-item">
                  <h1>{{ neutral_hours }}</h1>
                  <small>neutral hours</small>
                </div>
                <div class="stats__grid-item">
                  <h1>{{ bad_hours }}</h1>
                  <small>bad hours</small>
                </div>
              </div>

            </div>
