{% extends 'base.html' %}
{% load staticfiles main_tags %}
{% block title %}Stats{% endblock %}
{% block body_id %}stats{% endblock %}

{% block nav %}
    {% include 'includes/_nav.html' %}

    {% if request.user %}
    <div class="header__right-nav">
        <a class="header__account" href="{% url 'logout' %}" id="l-log-in">Logout</a>
        <a class="header__account" href="{% url 'password_change' %}" id="l-log-in">Change password</a>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'includes/_background.html' %}

    <div class="stats">
        <div class="stats__container">
            {% block stats %}{% endblock %}
            <div class="stats__chart">
                <svg></svg>
            </div>

            {% include 'includes/_stats.html' %}

        </div>
    </div>

{% endblock content %}

{% block js_scripts %}
    <script src="{% static 'chart/d3.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'chart/nv.d3.min.js' %}" charset="utf-8"></script>

    <script>
        var my_data = {{ json_data|safe }}
        console.log(my_data);
        {% block stats_ticks %}
            var reduce_x_ticks = true;
        {% endblock %}
    </script>

    <script src="{% static 'logs/chart.js' %}" charset="utf-8"></script>
{% endblock %}
