{% load staticfiles %}
<span id="contribute" class="anchor"></span>
<div class="container actions">
  <h2>This app is completely free and open source. So, if you are keen...</h2>
  {% spaceless %}
  <div class="actions__row">

    <div class="actions__feature">
      <div class="actions__top">
        <img class="actions__image" src="{% static 'img/git_icon.png' %}" alt="Fork away!" />
        <h3 class="actions__title"><a class="btn" href="https://github.com/antonvino/precious_mac">Fork on github</a></h3>
      </div>
      <p class="actions__text">You can contribute to <a href="https://github.com/antonvino/precious_mac">precious.app</a> as well as <a href="https://github.com/antonvino/precious_web">precious.web</a>. Fork away!</p>
    </div>

    <div class="actions__feature">
      <div class="actions__top">
        <img class="actions__image" src="{% static 'img/mail_icon.png' %}" alt="Subscribe to updates" />
        <div class="actions__title">
            <form id="subscribe-action-form" method="post" action="//antonvino.us11.list-manage.com/subscribe/post?u=416dcc2b4ea7a0e1a5cdb817a&amp;id=4d2dd89eda">
                <input type="email" name="EMAIL" class="form-control" placeholder="your@email.com" title="email">
                <input type="submit" value="Subscribe" class="btn">
            </form>
        </div>
      </div>
      <p class="actions__text">If you want to know what's next, subscribe to the updates or <a href="mailto:anton.mrbladers@gmail.com">drop me a line</a>.</p>
    </div>

  </div>

  {% endspaceless %}
</div>
