{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block body_id %}home-page{% endblock %}

{% block nav %}
    <div class="header__right-nav">
        {% block login %}{% endblock %}
        <a class="header__login" href="{% url 'login' %}" id="l-log-in">Login to precious.web</a>
        {% block settings %}{% endblock %}
    </div>
{% endblock %}

{% block content %}

{% include 'misc/includes/promo.html' %}
{% include 'misc/includes/feature_grid.html' %}
{% include 'misc/includes/picture_grid.html' %}
{% include 'misc/contribute_and_subscribe.html' %}
{#{% include 'misc/about.html' %}#}
{% include 'misc/includes/small_promo.html' %}

{% endblock content %}

{% block extra_js %}
{#  <script type="text/javascript" src="{% static 'css/bootstrap-sass/javascripts/bootstrap/transition.js' %}"></script>#}
{% endblock %}
